body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  overflow:hidden;
  touch-action:pan-y;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u2 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u4 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u6 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:pan-y;
}
#u7_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u9 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u11 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:350px;
  top:1569px;
  width:370px;
  height:131px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1920px;
}
#u14 {
  position:absolute;
  left:2px;
  top:952px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:75px;
}
#u15 {
  position:absolute;
  left:286px;
  top:703px;
  width:507px;
  height:75px;
}
#u16 {
  position:absolute;
  left:2px;
  top:30px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:75px;
}
#u17 {
  position:absolute;
  left:421px;
  top:854px;
  width:237px;
  height:75px;
}
#u18 {
  position:absolute;
  left:2px;
  top:30px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1570px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:286px;
  top:707px;
  width:484px;
  height:60px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:60px;
  background-color:transparent;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#313131;
  text-align:center;
}
#u21 {
  position:absolute;
  left:286px;
  top:862px;
  width:484px;
  height:60px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  height:60px;
  background-color:transparent;
  font-family:'方正兰亭超细黑简体 Regular', '方正兰亭超细黑简体';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#313131;
  text-align:center;
}
#u22 {
  position:absolute;
  left:45px;
  top:56px;
  width:80px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23 {
  position:absolute;
  left:190px;
  top:1029px;
  width:260px;
  height:98px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:absolute;
  left:441px;
  top:1640px;
  width:200px;
  height:200px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u25 {
  position:absolute;
  left:25px;
  top:90px;
  width:14px;
  height:14px;
}
#u25_img.disabled {
}
#u25.disabled {
}
#u26 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u27 {
  position:absolute;
  left:159px;
  top:90px;
  width:14px;
  height:14px;
}
#u27_img.disabled {
}
#u27.disabled {
}
#u28 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u29 {
  position:absolute;
  left:114px;
  top:90px;
  width:14px;
  height:14px;
}
#u29_img.disabled {
}
#u29.disabled {
}
#u30 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u31 {
  position:absolute;
  left:70px;
  top:90px;
  width:14px;
  height:14px;
}
#u31_img.disabled {
}
#u31.disabled {
}
#u32 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u33 {
  position:absolute;
  left:25px;
  top:90px;
  width:14px;
  height:14px;
}
#u33_img.disabled {
}
#u33.disabled {
}
#u34 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u35 {
  position:absolute;
  left:159px;
  top:90px;
  width:14px;
  height:14px;
}
#u35_img.disabled {
}
#u35.disabled {
}
#u36 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u37 {
  position:absolute;
  left:114px;
  top:90px;
  width:14px;
  height:14px;
}
#u37_img.disabled {
}
#u37.disabled {
}
#u38 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u39 {
  position:absolute;
  left:70px;
  top:90px;
  width:14px;
  height:14px;
}
#u39_img.disabled {
}
#u39.disabled {
}
#u40 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u41 {
  position:absolute;
  left:25px;
  top:90px;
  width:14px;
  height:14px;
}
#u41_img.disabled {
}
#u41.disabled {
}
#u42 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u43 {
  position:absolute;
  left:159px;
  top:90px;
  width:14px;
  height:14px;
}
#u43_img.disabled {
}
#u43.disabled {
}
#u44 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u45 {
  position:absolute;
  left:114px;
  top:90px;
  width:14px;
  height:14px;
}
#u45_img.disabled {
}
#u45.disabled {
}
#u46 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u47 {
  position:absolute;
  left:70px;
  top:90px;
  width:14px;
  height:14px;
}
#u47_img.disabled {
}
#u47.disabled {
}
#u48 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u49 {
  position:absolute;
  left:25px;
  top:90px;
  width:14px;
  height:14px;
}
#u49_img.disabled {
}
#u49.disabled {
}
#u50 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u51 {
  position:absolute;
  left:159px;
  top:90px;
  width:14px;
  height:14px;
}
#u51_img.disabled {
}
#u51.disabled {
}
#u52 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u53 {
  position:absolute;
  left:114px;
  top:90px;
  width:14px;
  height:14px;
}
#u53_img.disabled {
}
#u53.disabled {
}
#u54 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u55 {
  position:absolute;
  left:70px;
  top:90px;
  width:14px;
  height:14px;
}
#u55_img.disabled {
}
#u55.disabled {
}
#u56 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
